@{
    ViewData["Title"] = "Asistanlar";
    Layout = "_Layout";
}

@model List<B221200015_WP_ODEV.Models.Asistan>

<h2 class="text-center">Asistanlar Listesi</h2>
<p class="text-center">Bu sayfada asistanların listesini görebilirsiniz.</p>

<form asp-action="Asistan" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="searchTerm" class="form-control" placeholder="Asistan adı veya soyadı ara..." />
        <button type="submit" class="btn btn-primary">Ara</button>
    </div>
</form>

<div class="d-flex justify-content-between mb-3">
    <div>
        <a class="btn btn-secondary" href="@Url.Action("Asistan", new { sortOrder = "name" })">İsme Göre A-Z</a>
        <a class="btn btn-secondary" href="@Url.Action("Asistan", new { sortOrder = "name_desc" })">İsme Göre Z-A</a>
        <a class="btn btn-secondary" href="@Url.Action("Asistan", new { sortOrder = "department" })">Bölüme Göre A-Z</a>
        <a class="btn btn-secondary" href="@Url.Action("Asistan", new { sortOrder = "department_desc" })">Bölüme Göre Z-A</a>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var asistan in Model)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="@asistan.Resim" class="card-img-top" alt="Asistan Resmi" style="height: 500px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@asistan.Ad @asistan.Soyad</h5>
                        <p class="card-text">
                            <strong>Telefon:</strong> @asistan.Telefon <br />
                            <strong>E-posta:</strong> @asistan.Mail <br />
                            <strong>Bölüm:</strong> @(asistan.Bolum != null ? asistan.Bolum.BolumAdi : "Bölüm Yok")
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
